* {
    font: 0.9em/1.5em Verdana,Arial,Helvetica,sans-serif;
}
body {
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}
.logo {
    height: 350px;
}
input {
    padding: 2.5px;
    width: 250px;
}